<h1>My Cart</h1>


	<% if @line_items != nil %>
			<p> Your Items Are: </p>

<!-- new stuff -->

<table class='table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Piece</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>subtotal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |item| %>
      <tr>
      	<td><%= item.product.name %></td>
        <td><%= image_tag item.product.image.url, class: "thumb" %></td>
        <td><%= number_to_currency item.product.price %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency item.line_item_total %></td>
     

   		 <td><%= form_tag edit_line_item_path do %>
          <%= hidden_field_tag :order_id, item.order_id %>
          <%= hidden_field_tag :product_id, item.product_id %>
          <%= number_field_tag :quantity, nil, min: 0, max: item.product.quantity, class: "form-control" %>
          <%= submit_tag "Edit Quantity", class: "btn btn-primary" %>
         <% end %> 
       </td>
        <td><%= link_to "Delete", delete_line_item_path(product_id: item.product_id, order_id: item.order_id), class: "btn btn-danger" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

	<% else %>
	 		<p> There are no items </p>
	<% end %>
<!-- end new stuff -->

	<%= link_to "Proceed to Checkout", checkout_path, class: "btn btn-warning right-side"%>


