<h1 class="portfolio-header text-center">Welcome to My Flowers</h1>

<div class="feature">

	<div id="slideshow" class="sliders" style:"clear:both;">
		<%= @feature %>

	      <% @carousel.each do |carousel| %>

	      <%= image_tag carousel, class: "slide"%>

	      <% end %>
	</div>

	<div class="row feature-link-section">
		<!-- Fine Art -->
			<div class="feature-link-panel panel col col-lg-4 col-md-4 col-sm col-xs">

					<% @products.each_with_index do |product, i| %>
						<% if product.category_id == 14 %>
				
								<p><%=image_tag product.image.url, class: "feature-link-pic" %> </p>

						
								<div class="feature-link-text">
									<h5><%= product.category.name %></h5>
								</div>
						
						<% end %>
					<% end %>


			</div>
			<!-- Portraits -->
			<div class="feature-link-panel panel col col-lg-4 col-md-4 col-sm col-xs">
					<% @products.each do |product| %>
						<% if product.category_id == 12 %>

							<p><%= image_tag product.image.url, class: "feature-link-pic" %></p>
							<div class="feature-link-text">
								<h5><%= product.category.name%></h5>
							</div>
						<% end %>
					<%end %>
				
			</div>
			<!-- Store -->
				<div class="feature-link-panel panel col col-lg-4 col-md-4 col-sm col-xs">
					<% @products.each do |product| %>
						<% if product.category_id == 13 %>

							<p><%= image_tag product.image.url, class: "feature-link-pic" %></p>
							<div class="feature-link-text">
								<h5><%= product.category.name %></h5>
							</div>
						<% end %>
					<%end %>
				
			</div>

	</div>

</div> 