<div class ="row">
	<% @products.each do |product| %>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="panel center-it">
				
				<% if product.image.url.nil? == false %>
					<p><%= image_tag product.image.url, class: "storefront-pic" %></p>

				<% end %>
					<h3  class="storefront-text"><%= link_to product.name, product%></h3>
					
					<p>

					<a href="#" class="storefront-text" data-toggle="modal" data-toggle="modal" data-target="#myModal_<%= product.id %>">
						<span class="glyphicon glyphican-plus"></span>Details
					</a>
					
				</p>
			</div>
		</div>

			<!-- Modal -->
			<div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			 
			      </div>
			      <!-- MODAL BODY  -->
			      <div class="modal-body">
			      	<% if product.image.url.nil? == false%>
			      		<p><%= image_tag product.image.url, class: "storefront-pic" %></p>	      		
			      	<% end %>

			      		<h3 class="storefront-text">Title: <%= link_to product.name, product %></h3>
			      		<p class="storefront-text">Year: <%=  product.year %></p>
			      		<p class="storefront-text">Medium: <%= product.medium %></p>
			      		<p class="storefront-text">Size: <%= product.size %></p>
			      		<p class="storefront-text">	Details: <%= product.description %></p>

			      		<% if user_signed_in? %>
			      		<% if can? :manage, product %>
			      			 <td><%= link_to 'Edit', edit_product_path(product), class: "btn btn-default btn-modal" %></td>
			      		<% end %>
			      		<% end %>
			      </div>

      <!-- MODAL FOOTER -->

			      <div class="modal-footer">
			       <p>
			       	<%= form_tag add_to_cart_path do %>
			       		<%= hidden_field_tag :product_id, product.id %>
			       		
			       	<% end %>
			       </p>

			      </div>
	   <!-- END MODAL FOOTER -->
			    </div>
			  </div>
			</div>
	<!-- END OF MODAL -->
	<%end %>
</div>