<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!-- Image -->
  <div class="field">
    <p class="products-label">Image</p>
    <% if product.image.url != nil %>
    <%= image_tag product.image.url, class: "products-pic" %>
    <% end %>
  </div>
<!-- Upload Image -->
  <div class="form-group">
    <strong class="products-label">Upload an Image</strong>
    <%= form.file_field :image %>
  </div>
<!--  Image Type -->
  <div class="field">
    <%= form.label :image_type, class: "products-label" %>
    <%= form.select :image_type, @categories.collect {|c| [c.name,]}, {include_blank: "Please select an image type"} %>
  </div>
<!-- Image Name -->
  <div class="field">
    <%= form.label :name, class: "products-label" %>
    <%= form.text_field :name, id: :product_name, class: "products-field" %>
  </div>
<!-- Image Price -->
  <div class="field">
    <%= form.label :price, class: "products-label" %>
    <%= form.text_field :price, id: :product_price, class: "products-field" %>
  </div>

  <div class="field">
    <%= form.label :quantity, class: "products-label" %>
    <%= form.number_field :quantity, id: :product_quantity, class: "products-field" %>
  </div>

  <div class="field">
    <%= form.label :description, class: "products-label" %>
    <%= form.text_area :description, id: :product_description, class: "products-field" %>
  </div>

  <div class="field">
    <%= form.label :brand, class: "products-label" %>
    <%= form.text_field :brand, id: :product_brand, class: "products-field" %>
  </div>

  <div class="field">
    <%= form.label :rating, class: "products-label" %>
    <%= form.number_field :rating, id: :product_rating, class: "products-field" %>
  </div>

  <div class="form-group">
    <%= form.label :category_id, class: "products-label" %>
    <%= form.select :category_id, @categories.collect {|c| [c.name, c.id]}, {include_blank: "Please select a category"} %>
  </div>

    



  <div class="actions">
    <%= form.submit class: "btn btn-warning" %>
  </div>
<% end %>
