<!DOCTYPE html>
<html>
  <head>
    <title>Cynzia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class='container'>
<!-- NAVIGATION -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right glyphicon glyphicon-menu-hamburger pull-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a ><%=link_to "Cynzia Sanchez", root_path, class: "navbar-brand" %></a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
           
            <%=link_to "Home", root_path, class: "nav-item nav-link" %><span class="sr-only">(current)</span>
            
            <%=link_to "Portaits", products_path, class: "nav-item nav-link" %>
          
              <%=link_to "Products", products_path, class: "nav-item nav-link" %>
       

            <%=link_to "Store", storefront_all_items_path, class: "nav-item nav-link" %>
           
    <!--  Category selectors  -->

            <li class="dropdown navbar-list">
              <a href="#"
                  class="dropdown-toggle  nav-item nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
                <ul class="dropdown-menu">
                    <% @categories.each do |category| %>
                      <li><%= link_to category.name, categorical_path(category_id: category.id) %></li>
                    <% end %>
                </ul>
              </li> 
 
        <!--  VIEW CART -->
            <a class="nav-item nav-link" ><%=link_to "View Cart", view_order_path %></a>
        <!-- END VIEW CART -->
          </div>
        </div>
      </nav>
<!-- END NAV -->

   		 <%= yield %>

<!-- FOOTER -->
  <div class="footer">

   <hr> 
   <a class="nav-item nav-link" >
    <% if user_signed_in? %>
      <%=link_to "Sign Out", destroy_user_session_path, method: :delete %></a>
       <a class="nav-item nav-link" ><%=link_to "Edit Profile", edit_user_registration_path%></a>
      <% else %>
      <%= link_to "Sign In", new_user_session_path, method: :create %>
      <% end %>

   
  </div>

<!-- END FOOTER -->
  </div>
  </body>
</html>
